{% extends "base.html" %}

{% block title %} Show string {% endblock %}

{% block content %}
<body>
    <ul class="ul_bar">
      <li><a href="/">Home</a></li>
      <li><a href="">Contact</a></li>
      <li><a href="">About</a></li>
    </ul>
    <div class="menu">
        <ul>
        <form method="post">
            <label for="zScoreMin" >Min Z score</label>
            <input type="text" name="zScoreMin" size="5"><br>
            <label for="zScoreMax" >Max Z score</label>
            <input type="text" name="zScoreMax" size="5">
            <input type="submit" value="Submit"><br>
        </form>
            <label for="patients">Select patient</label>
            <select name="patients" id="patients">
                {% for patient in patients %}
                    <option value="{{ patient }}">{{ patient }}</option>
                {% endfor %}
            </select>
        </ul>
    </div>
    <div class="results">
        <tr>
            <td>Resultaat1</td>
            <td>Resultaat2</td>
            <td>Resultaat3</td>
        </tr>
    </div>


</body>
{% endblock %}